.progressbar-container {
  font-size: small;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 100%;
  margin: auto;
}
.progressbar {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-flex;
}

.progressbar li {
  background: #adabab;
  position: relative;
}
.progressbar li:nth-child(4){
  flex: 2 0 80px;
}
 .progressbar li a{
  outline: none;
  padding: 9px 1px 10px 35px;
  display: block;
  color: #090909;
  font-weight: 500;
  text-decoration: none;
  /* width: 100%; */
}

.progressbar li::before{
  width: 0;
  height: 0;
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.progressbar li::after{
  width: 0;
  height: 0;
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid #adabab;
  position: absolute;
  content: "";
  top: 0;
  right: -28px;
  z-index: 1;
}

.progressbar li:first-of-type::before,
.progressbar li:last-of-type::after{
  border: none;
}
/* .progressbar li:first-of-type{
  padding-left: 10px;
} */
.progressbar li:first-of-type::after{
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid green;
}

.progressbar li.active, .progressbar li.done{
  background: green;
}

.progressbar li:first-child a{
  padding-left: 12px;
}
.progressbar li.active a, .progressbar li.done a {
    color: white;
}
.progressbar li.done::after{
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid green;
}


.main-form-card{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.forms-sample fieldset h4 {
  margin-bottom: 2em;
  color: white;
} 


.forms-sample fieldset {
  display: none;
}
.forms-sample fieldset span, .photo-warning {
  font-size: small;
}

.forms-sample fieldset.showing {
  display: block;
}


.yes_no label, .yes_no input[type="radio"] {
  vertical-align: middle !important;
}
.yes_no input[type="radio"]:first-of-type + label{
  margin-right: 10px;
}

fieldset .btn {
  margin-right: 5px;
}

fieldset h4 {
  margin-bottom: 2em;
}

fieldset label{
  color: #cecbcb !important;
}

/* Photo Frame  */
.photo-frame{
  border: 2px solid rgba(255, 255, 255, 0.521);
  border-radius: 2px;
  width: 160px;
  height: 160px;
  padding: 5px;
}
.photo-frame img{
  max-width: 100%;
  margin: 0 auto;
}
.toggle-unionized{
  display: none;
}