.progressbar-container {
  font-size: small;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.progressbar {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

.progressbar li {
  background: #adabab;
  width: 100%;
  display: inline-block;
}
 .progressbar li a {
  outline: none;
  padding: 10px 5px 10px 35px;
  display: inline-block;
  position: relative;
  color: #090909;
  font-weight: 500;
  text-decoration: none;
  min-width: 100%;
}

.progressbar li a::before{
  width: 0;
  height: 0;
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.progressbar li a::after{
  width: 0;
  height: 0;
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid #adabab;
  position: absolute;
  content: "";
  top: 0;
  right: -28px;
  z-index: 2;
  overflow: hidden;
}

.progressbar li:first-of-type a::before,
.progressbar li:last-of-type a::after{
  border: none;
}
.progressbar li:first-of-type a{
  padding-left: 15px;
}
.progressbar li:first-of-type a::after{
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid green;
}

.progressbar li.active a, .progressbar li.done a{
  background: green;
  color: white;
}
.progressbar .done a::after{
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid green;
}
.progressbar .previous + li a::after {
  border-top: 29px inset transparent;
  border-bottom: 29px inset transparent;
  border-left: 29px solid #adabab;
}
.main-form-card{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.forms-sample fieldset h4 {
  margin-bottom: 10px;
  color: #d6d6d6;
} 


.forms-sample fieldset {
  display: none;
}
.forms-sample fieldset span, .photo-warning {
  font-size: small;
}

.forms-sample fieldset.showing {
  display: block;
}


.yes_no label, .yes_no input[type="radio"] {
  vertical-align: middle !important;
}
.yes_no input[type="radio"]:first-of-type + label{
  margin-right: 10px;
}

fieldset .btn {
  margin-right: 5px;
}

fieldset h4 {
  margin-bottom: 2em;
}

fieldset label{
  color: #cecbcb !important;
}

/* Photo Frame  */
/* .photo-frame{
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 147px;
  height: 147px;
  background-repeat: no-repeat;
  background-size: contain;
} */
